body{
    background-color: #ECECEC;
}

li{
    list-style: none;
}
nav{
    background-color: rgb(122, 243, 233);

}

.menu{
    font-size: 20px;
    font-weight: 600;
}
.menu:hover{
    color: white;
    cursor: pointer;
}
.doc-name{
    color: #007E85;
    font-size: 60px;
    font-weight: 700;
    
}
.banner-container{
    margin: 100px 100px;
}
.banner{
width: 1240px;
height: 520px;
margin: auto;
background: linear-gradient(66.15deg, rgba(123, 204, 194, 0.33) -5.25%, rgba(72, 190, 206, 0.34) 35.43%, #56BED5 66.69%);
display:flex;
align-items: center;
box-shadow: gray 5px 5px 10px 10px;
border-radius: 10px;

}
.banner-text{
  padding: 50px;
 
}

.banner-img{
width: 1180px;
margin-top: -150px;

}



.doctor-container{
    margin-top: 100px;
    padding: 30px;
    margin-bottom: 100px;
}

#search-doc{
    border: none;
    height: 40px;
    width: 65%;
    margin-right: 10px;
    border-radius: 8px;
}

.filter-btn{
    background-color: #06ABA1;
    color: white;
    
}

.doctor-card{
    text-align: center;
    align-items: center;
    width: 350px;
    height: 420px;
    box-shadow: 4px 4px 8px gray;
    padding: 10px;
    border-radius: 10px;

}

.doctor-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
    

}

.card-title{
    color: #007E85;
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
}

#nodata{
    display: none;
}
#loader{
    display: none;
}

.review-card{
    text-align: center;
    align-items: center;
    width: 250px;
    height: 300px;
    box-shadow: 4px 4px 8px gray;
    padding: 10px;
    border-radius: 10px;
}

.review-card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 8px;
}

.footer-container{
    background: linear-gradient(66.15deg, #1CA8C7 -5.25%, #439FA5 46.76%, #4C7D8C 98.77%);
    color: white;
    padding: 50px;
    margin-top: 70px;
}


/* -----------------doc detailes css ---------- */

.doc-detailes-img img{
   width: 150px;
   height: 150px;
   border-radius: 100px;
}

.doc-detailes-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.doctor-rivew-container{
    width: 75%;
    margin: auto;
    margin-top: 100px;
}